version: '3'

volumes:
  postgres_data:
services:
  postgres-three:
    image: postgres:17.2-alpine3.21
    restart: always
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=fGD4Kcy6ZnCt8RmNycN4S1AT
      - POSTGRES_DB=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    expose:
      - 5432
