version: '3'

volumes:
  postgres_data:
  redis_data:
services:
  postgres-two:
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=fGD4Kcy6ZnCt8RmNycN4S1AT
      - POSTGRES_DB=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    expose:
      - 5432
  redis-two:
    image: redis:7-alpine
    restart: always
    command: ["redis-server", "--requirepass", "9y8YplW9jI8VxpI8knzVNkHe"]
    volumes:
      - redis_data:/data
    expose:
      - 6379
