version: '3'

volumes:
  n8n_data:

services:
  newn8nmainfour:
    image: n8nio/n8n:1.118.2
    command: ["worker"]
    volumes:
      - n8n_data:/home/node/.n8n
    restart: always
    environment:
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - N8N_RUNNERS_ENABLED=true
      - NODE_ENV=production
      - GENERIC_TIMEZONE=Asia/Tehran
      - TZ=Asia/Tehran
      - EXECUTIONS_MODE=queue
      - OFFLOAD_MANUAL_EXECUTIONS_TO_WORKERS=true
      - QUEUE_BULL_REDIS_HOST=bromo.liara.cloud
      - QUEUE_BULL_REDIS_PORT=31179
      - QUEUE_BULL_REDIS_PASSWORD=9y8YplW9jI8VxpI8knzVNkHe
      - QUEUE_HEALTH_CHECK_ACTIVE=true
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_HOST=bromo.liara.cloud
      - DB_POSTGRESDB_PORT=34910
      - DB_POSTGRESDB_USER=root
      - DB_POSTGRESDB_PASSWORD=fGD4Kcy6ZnCt8RmNycN4S1AT
      - DB_POSTGRESDB_DATABASE=postgres
      - N8N_EXPRESS_TRUST_PROXY=true
      - N8N_ENCRYPTION_KEY=CPU7+scl9M7vZxdx4pt/4T5YqCD52034
    expose:
      - 5678
